html, body {
  background-color: #F5F5F5;
	background: transparent url("http://farm8.staticflickr.com/7284/8738887464_affd56ce85_o.png") repeat;
	background-size: cover;
  margin: 0;
}

/*****************************************************************************/

.flexsearch-wrapper {
  height: auto;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: static;
}

.flexsearch-form {
  overflow: hidden;
  position: relative;
}

.flexsearch-input-wrapper {
  padding: 0 66px 0 0;
  overflow: hidden;
}

.flexsearch-input {
  width: 100%;
}

.flexsearch {
  padding: 10px;
}

.flexsearch-input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 60px;
  width: 100%;
  padding: 0 46px 0 10px;
  border-color: #FFAA66;
  border-radius: 35px;
  border-style: solid;
  border-width: 5px;
  color: #BBB;
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.flexsearch-submit {
  position: absolute;
  right: 0;
  top: 5px;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  outline: 0;
  margin-right: 0px;
  background: transparent;
  color: #BBB;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch-input:focus.flexsearch-submit {
  color: #AAA;
}

.flexsearch-submit:hover {
  color: #AAA;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #BBB;
}

input:-moz-placeholder {
  color: #BBB;
}

/*****************************************************************************/

.h1 {
  color: #FFFFFF;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #FFAA66;
  margin: 0 0 40px 0;
  padding: 30px 0;
}

/*****************************************************************************/

.flexsearch-search-results {
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
	display: relative;
	color: #BBB;
	width: 90%;
	margin: 0;
}

.flexsearch-search-results-wrapper {
	background: none;
}

.flexsearch-results-list li {
  list-style-type: none;
	margin: -15px 0 -20px 0;
  padding: 0;
}

.flexsearch-results-list a {
	text-decoration: none;
  display: block;
  color: #BBB;
}

.flexsearch-results-list a:hover {
  color: #AAA;
}
